body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    vertical-align: -44px;
  } /* I use */
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  } /* I use. Class lead is undefined here it is just to add date to it*/
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
      font-size: 18px;
      display: inline-block;
      text-align: right;
      width: 10%;
      height: 60px;
      
      position: relative; 
      left: 10%;
      flex-wrap: wrap-reverse;
      margin: 0.1%;
     /* border-radius: 5px; */
    } /* I use */
  
  .past {
    background-color: #d3d3d3;
    color: white;
    display: inline-block;
  font-size: 18px;
  width: 60%;
  height: 60px;
  /* background-color: lightblue;
  color: white; */
  position: relative; 
  left: 10%;
  flex-wrap: wrap-reverse;
  margin: 0.1%;}
  
  .present {
    background-color: #ff6961;
    color: white;
    display: inline-block;
  font-size: 18px;
  width: 60%;
  height: 60px;
  /* background-color: lightblue;
  color: white; */
  position: relative; 
  left: 10%;
  flex-wrap: wrap-reverse;
  margin: 0.1%;}
  
  .future {
    background-color: #77dd77;
    color: black;
    display: inline-block;
  font-size: 18px;
 
  width: 60%;
  height: 60px;
  /* background-color: lightblue;
  color: white; */
  position: relative; 
  left: 10%;
  flex-wrap: wrap-reverse;
  margin: 0.1%;
  } /* I use */
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
    display: inline-block;
    text-align: center;
  font-size: 18px;
  vertical-align: -20px;
  /* margin: 0;
  position: relative; */
  /* -ms-transform: translateY(5%);
  transform: translateY(5%); */
  width: 10%;
  height: 60px;
  /* background-color: lightblue;
  color: white; */
  position: relative; 
  left: 10%;
  flex-wrap: wrap-reverse;
  margin: 0.1%;
  /* border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;  */
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }

 /* .p-style {
    font-size: 18px;
    display: inline-block;
    text-align: right;
    width: 10%;
    height: 60px;
    background-color: lightgray;
    color: black;
    position: relative; 
    left: 10%;
    flex-wrap: wrap-reverse;
    margin: 0.1%;
  } /* I use */

  /*.p2-style {
      display: inline-block;
    font-size: 18px;
    width: 40%;
    height: 60px;
    background-color:lightgreen;
    color: black;
    position: relative; 
    left: 10%;
    flex-wrap: wrap-reverse;
    margin: 0.1%;
    border-radius: 5px;
  } I use */

 /* .lock-style {
    display: inline-block;
    text-align: center;
  font-size: 18px;
  /* margin: 0;
  position: relative; */
  /* -ms-transform: translateY(5%);
  transform: translateY(5%); */
 /* width: 10%;
  height: 60px;
  background-color: lightblue;
  color: white;
  position: relative; 
  left: 10%;
  flex-wrap: wrap-reverse;
  margin: 0.1%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; 
} /* I use */
 